<header class="header">
  <div class="header__announcement-bar">
    <div class="announcement-bar__container _container">
      <div class="announcement-bar">
        <!-- Additional required wrapper -->
        <div class="announcement-bar__wrapper">
          {% for block in section.blocks %}
            <div class="announcement-bar__slide top-feature">
              <div class="top-feature__image">
                {{ block.settings.icon | img_url: "32x32" | img_tag }}
              </div>
              <div class="top-feature__text">
                {{ block.settings.text }}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</header>

{% schema %}
{
"name": "Announcement bar",
"class": "announcement-bar",
"max_blocks": 12,
"settings": [
],
"blocks": [
{
"type": "announcement-bar-slide",
"name": "Announcement bar slide",
"settings": [
{
"type": "header",
"content": "Icon settings"
},
{
"type": "image_picker",
"id": "icon",
"label": "Icon"
},
{
"type": "header",
"content": "Text settings"
},
{
"type": "text",
"id": "text",
"label": "Text",
"default": "Free shipping from 60€ (DE)"
}
]
}
]
}
{% endschema %}
