<div class="header__container _container">
  <div class="header__top-menu menu-top">
    <div class="menu-top__column">
      <button id="burger-btn" type="button" class="burger-btn" data-target="#burger-menu">
        <span class="burger-btn__lines"></span>
        <span class="burger-btn__label"></span>
      </button>
      <a href="#" class="menu-top__link menu-top__link_tablet">
        <i class="menu-top__icon icon-search icon-search_tablet"></i>
      </a>
      <i class="menu-top__icon icon-header_phone"></i>
      <div class="menu-top__number">
        +49 61729452910
      </div>
      <div class="menu-top__language language">
        <a href="#" class="language__link">EN</a>
        <ul class="language__list sub-menu sub-menu_lang">
          <li class="language__item">
            <a href="#" class="language__link">FR</a>
          </li>
          <li class="language__item">
            <a href="#" class="language__link">DE</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu-top__column">
      <a href="" class="menu-top__logo">
        {% comment %}<img src="img/logo/logo.png" alt="logo">{% endcomment %}
        {{ section.settings.logo | img_url: "179x46" | img_tag }}
      </a>
    </div>
    <div class="menu-top__column">
      <a href="#" class="menu-top__link">
        <i class="menu-top__icon icon-search"></i>
      </a>
      <a href="#" class="menu-top__link">
        <i class="menu-top__icon icon-account"></i>
      </a>
      <a href="#" class="menu-top__link menu-top__numeric menu-top__numeric-1">
        <i class="menu-top__icon icon-liked"></i>
      </a>

      <a href="{{ routes.cart_url }}" class="menu-top__link menu-top__numeric menu-top__numeric-2" id="cart-icon-bubble">
        <i class="menu-top__icon icon-basket"></i>
      </a>
      
<!--       <a href="#" class="menu-top__link menu-top__numeric menu-top__numeric-2">
        <i class="menu-top__icon icon-basket"></i>
      </a> -->

    </div>
  </div>

  <nav class="header__bottom-menu menu-bottom">
    <ul class="menu-bottom__list">
      <li class="menu-bottom__item menu-bottom__item-parrent">
        <a href="" class="menu-bottom__link">Products <button class="icon-arrow"></button> </a>
        <ul class="menu-bottom__sub-menu sub-menu">
          <li class="menu-bottom__item">
            <a href="" class="menu-bottom__link">Quiet Books</a>
          </li>
          <li class="menu-bottom__item">
            <a href="" class="menu-bottom__link">Mini Quiet Books</a>
          </li>
          <li class="menu-bottom__item">
            <a href="" class="menu-bottom__link">Booklets</a>
          </li>
          <li class="menu-bottom__item">
            <a href="" class="menu-bottom__link">Wooden Toys</a>
          </li>
          <li class="menu-bottom__item">
            <a href="" class="menu-bottom__link">Wall decorations</a>
          </li>
        </ul>
      </li>
      <li class="menu-bottom__item">
        <a href="" class="menu-bottom__link">Child Development</a>
      </li>
      <li class="menu-bottom__item">
        <a href="" class="menu-bottom__link">What are Quiet Books</a>
      </li>
      <li class="menu-bottom__item">
        <a href="" class="menu-bottom__link">Blog</a>
      </li>
      <li class="menu-bottom__item menu-bottom__item-parrent">
        <a href="" class="menu-bottom__link">About Us <button class="icon-arrow"></button> </a>
        <ul class="menu-bottom__sub-menu sub-menu">
          <li class="menu-bottom__item">
            <a href="" class="menu-bottom__link">The Team</a>
          </li>
          <li class="menu-bottom__item">
            <a href="" class="menu-bottom__link">Our Clients</a>
          </li>
        </ul>
      </li>
      <li class="menu-bottom__item menu-bottom__item-parrent">
        <a href="" class="menu-bottom__link">Support <button class="icon-arrow"></button> </a>
        <ul class="menu-bottom__sub-menu sub-menu">
          <li class="menu-bottom__item">
            <a href="" class="menu-bottom__link">Out Contacts</a>
          </li>
        </ul>
      </li>
      <li class="menu-bottom__item">
        <a href="" class="menu-bottom__link">Where to Find Us</a>
      </li>
    </ul>
  </nav>
</div>

{% schema %}
{
"name": "t:sections.header.name",
"class": "section-header",
"settings": [
{
"type": "select",
"id": "color_scheme",
"options": [
{
"value": "accent-1",
"label": "t:sections.all.colors.accent_1.label"
},
{
"value": "accent-2",
"label": "t:sections.all.colors.accent_2.label"
},
{
"value": "background-1",
"label": "t:sections.all.colors.background_1.label"
},
{
"value": "background-2",
"label": "t:sections.all.colors.background_2.label"
},
{
"value": "inverse",
"label": "t:sections.all.colors.inverse.label"
}
],
"default": "background-1",
"label": "t:sections.all.colors.label"
},
{
"type": "image_picker",
"id": "logo",
"label": "t:sections.header.settings.logo.label"
},
{
"type": "link_list",
"id": "menu",
"default": "main-menu",
"label": "t:sections.header.settings.menu.label"
},
{
"type": "select",
"id": "menu_type_desktop",
"options": [
{
"value": "dropdown",
"label": "t:sections.header.settings.menu_type_desktop.options__1.label"
},
{
"value": "mega",
"label": "t:sections.header.settings.menu_type_desktop.options__2.label"
}
],
"default": "dropdown",
"label": "t:sections.header.settings.menu_type_desktop.label",
"info": "t:sections.header.settings.menu_type_desktop.info"
},
{
"type": "checkbox",
"id": "show_line_separator",
"default": true,
"label": "t:sections.header.settings.show_line_separator.label"
},
{
"type": "checkbox",
"id": "enable_sticky_header",
"default": true,
"label": "t:sections.header.settings.enable_sticky_header.label",
"info": "t:sections.header.settings.enable_sticky_header.info"
},
{
"type": "header",
"content": "t:sections.header.settings.mobile_layout.content"
},
{
"type": "select",
"id": "mobile_logo_position",
"options": [
{
"value": "center",
"label": "t:sections.header.settings.mobile_logo_position.options__1.label"
},
{
"value": "left",
"label": "t:sections.header.settings.mobile_logo_position.options__2.label"
}
],
"default": "center",
"label": "t:sections.header.settings.mobile_logo_position.label"
},
{
"type": "header",
"content": "t:sections.all.spacing"
},
{
"type": "range",
"id": "margin_bottom",
"min": 0,
"max": 100,
"step": 4,
"unit": "px",
"label": "t:sections.header.settings.margin_bottom.label",
"default": 0
},
{
"type": "header",
"content": "t:sections.all.padding.section_padding_heading"
},
{
"type": "range",
"id": "padding_top",
"min": 0,
"max": 36,
"step": 4,
"unit": "px",
"label": "t:sections.all.padding.padding_top",
"default": 20
},
{
"type": "range",
"id": "padding_bottom",
"min": 0,
"max": 36,
"step": 4,
"unit": "px",
"label": "t:sections.all.padding.padding_bottom",
"default": 20
}
]
}
{% endschema %}